:root {
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation */

.site-navigation {
  margin: 0;
  list-style: none;
  display: flex;
  margin-left: auto;
}

.site-navigation .navigation {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #0f0101;
  font-weight: bold;
}

.site-navigation .navigation:hover,
.site-navigation .navigation:focus {
  color: #1abc9c;
}

.page-nav {
  display: flex;
  align-items: center;
}

.main-head {
  min-height: 100px;
  margin-bottom: 70px;
}

/* Logo */

.logo {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #555252;
  margin: 0px;
}

.logo:hover,
.logo:focus {
  color: #aaa9a9;
}

.logo .logo-disign {
  font-weight: bold;
  color: #1abc9c;
}

.logo .logo-disign:focus,
.logo-disign .logo-disign:hover {
  color: #53cdb5;
}

/* Main product page */

.main-title {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #515151;
  margin-top: 0;
  margin-bottom: 130px;
  text-align: center;
}

.page-section {
  margin: 0;
  margin-bottom: 100px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.featured-list {
  flex-basis: calc(100% / 4 - 22.5px);
  flex-grow: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.featured-list:nth-child(4n) {
  margin-right: 0px;
}

.prod-image {
  cursor: pointer;
  background-color: #e9f0fd;
  margin: 0px;
}

.product-desription {
  margin-top: 0px;
}

.about-product {
  display: flex;
  margin: 0px;
}

.text-description {
  flex-grow: 1;
  margin: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 6px;
  padding-right: 55px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #ffffff;
  background-color: #323232;
  text-transform: uppercase;
  cursor: pointer;
}

.about-product .text-description:hover {
  background-color: #1abc9c;
}

.about-product .price-description:hover {
  background-color: blueviolet;
}

.price-description {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #8c8c8c;
  color: #ffffff;
  margin: 0px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/* News section */

.news-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
}

.hot-news {
  flex-basis: calc(100% / 3 - 23.3px);
  flex-grow: 0;
  margin-right: 30px;
}

.hot-news:nth-child(3n) {
  margin-right: 0px;
}

.news-title {
  font-size: 18px;
  font-weight: 900;
  line-height: 15px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
  margin-bottom: 45px;
  cursor: pointer;
}

.hot-news .about {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 20px;
}

.news-img {
  margin-top: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Button */

.button-article {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4ec6ab;
  color: #ffffff;
  border-radius: 4px;
  transition: 0.5s all ease;
}

.button-article:hover {
  transform: translate(+10px) scale(1.05);
}
